In [74]:
import pandas as pd
import numpy as np
import string
import re
import nltk

In [75]:
df = pd.read_csv('DataScientist.csv')
df = df.drop("Job Description", axis=1)
df = df.drop("Unnamed: 0", axis=1)

In [76]:
for i in df.index:
    if df.loc[i,"Easy Apply"] == "-1":
        df.loc[i,"Easy Apply"] = False
df["Easy Apply"]=df["Easy Apply"].astype(bool)
print(df["Easy Apply"].to_string())

0       False
1       False
2        True
3       False
4       False
5       False
6       False
7        True
8        True
9       False
10       True
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31       True
32      False
33      False
34       True
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42       True
43      False
44      False
45      False
46      False
47      False
48      False
49       True
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66       True
67      False
68       True
69      False
70       True
71      False
72      False
73      False
74       True
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
86      False
87      False
88      False
89      False
90      False
91      False
92      False
93      False
94      False
95      False
96      False
97      False
98      False
99      False
100     False
101     False
102     False
103     False
104     False
105     False
106     False
107      True
108     False
109     False
110     False
111      True
112     False
113     False
114     False
115     False
116     False
117     False
118      True
119     False
120     False
121     False
122     False
123     False
124     False
125     False
126     False
127      True
128     False
129     False
130     False
131     False
132     False
133     False
134     False
135     False
136     False
137     False
138     False
139     False
140     False
141     False
142     False
143     False
144     False
145     False
146     False
147     False
148     False
149     False
150     False
151     False
152     False
153     False
154     False
155     False
156      True
157     False
158      True
159     False
160     False
161     False
162     False
163     False
164      True
165     False
166     False
167     False
168     False
169     False
170     False
171     False
172     False
173      True
174     False
175     False
176      True
177     False
178     False
179     False
180      True
181      True
182     False
183     False
184     False
185     False
186     False
187     False
188     False
189     False
190     False
191     False
192     False
193     False
194     False
195     False
196     False
197     False
198     False
199      True
200     False
201      True
202     False
203     False
204     False
205     False
206     False
207     False
208     False
209     False
210     False
211     False
212     False
213     False
214     False
215     False
216     False
217     False
218     False
219     False
220     False
221      True
222     False
223     False
224     False
225     False
226     False
227     False
228     False
229     False
230     False
231     False
232     False
233     False
234     False
235      True
236     False
237     False
238     False
239     False
240     False
241      True
242     False
243     False
244     False
245     False
246     False
247     False
248     False
249     False
250     False
251     False
252     False
253     False
254     False
255      True
256     False
257     False
258     False
259     False
260     False
261      True
262     False
263     False
264      True
265     False
266     False
267     False
268     False
269     False
270     False
271     False
272     False
273     False
274     False
275     False
276     False
277     False
278     False
279     False
280     False
281     False
282     False
283     False
284     False
285     False
286     False
287     False
288     False
289     False
290     False
291     False
292     False
293     False
294      True
295     False
296     False
297     False
298     False
299     False
300     False
301     False
302     False
303     False
304     False
305     False
306     False
307     False
308     False
309     False
310      True
311     False
312     False
313     False
314     False
315     False
316     False
317     False
318     False
319     False
320     False
321     False
322     False
323     False
324     False
325     False
326     False
327     False
328     False
329     False
330     False
331     False
332     False
333     False
334     False
335     False
336     False
337     False
338     False
339     False
340     False
341     False
342      True
343     False
344     False
345     False
346     False
347     False
348     False
349     False
350     False
351     False
352     False
353     False
354     False
355     False
356     False
357     False
358     False
359     False
360      True
361     False
362     False
363     False
364     False
365     False
366     False
367     False
368     False
369     False
370     False
371     False
372     False
373     False
374     False
375     False
376     False
377     False
378     False
379     False
380     False
381     False
382     False
383     False
384     False
385      True
386     False
387     False
388     False
389     False
390     False
391     False
392     False
393     False
394     False
395     False
396      True
397     False
398     False
399     False
400      True
401     False
402     False
403     False
404     False
405     False
406     False
407      True
408     False
409     False
410     False
411     False
412     False
413     False
414     False
415     False
416     False
417     False
418     False
419     False
420     False
421     False
422     False
423     False
424     False
425     False
426     False
427     False
428     False
429     False
430      True
431     False
432     False
433     False
434     False
435     False
436     False
437     False
438     False
439      True
440     False
441     False
442     False
443     False
444     False
445     False
446     False
447     False
448     False
449     False
450     False
451     False
452     False
453     False
454     False
455     False
456      True
457      True
458     False
459     False
460     False
461     False
462     False
463     False
464     False
465     False
466     False
467     False
468     False
469      True
470      True
471     False
472     False
473     False
474     False
475     False
476     False
477     False
478     False
479     False
480     False
481     False
482     False
483     False
484     False
485     False
486     False
487     False
488      True
489     False
490     False
491     False
492      True
493     False
494     False
495      True
496     False
497     False
498     False
499     False
500     False
501     False
502     False
503     False
504     False
505     False
506     False
507     False
508     False
509     False
510     False
511     False
512     False
513     False
514     False
515     False
516     False
517     False
518      True
519     False
520     False
521     False
522     False
523     False
524     False
525     False
526      True
527     False
528     False
529     False
530     False
531     False
532     False
533     False
534     False
535     False
536     False
537     False
538      True
539     False
540     False
541     False
542     False
543     False
544     False
545     False
546     False
547     False
548     False
549     False
550     False
551     False
552     False
553     False
554     False
555     False
556     False
557     False
558     False
559     False
560     False
561     False
562     False
563     False
564     False
565     False
566     False
567     False
568     False
569     False
570     False
571     False
572     False
573     False
574     False
575     False
576     False
577     False
578     False
579     False
580     False
581     False
582     False
583     False
584     False
585     False
586     False
587     False
588     False
589     False
590     False
591     False
592     False
593     False
594     False
595     False
596     False
597     False
598     False
599     False
600     False
601     False
602     False
603     False
604     False
605     False
606     False
607     False
608     False
609     False
610     False
611     False
612     False
613     False
614     False
615     False
616     False
617     False
618     False
619     False
620     False
621     False
622     False
623     False
624     False
625     False
626     False
627     False
628     False
629     False
630     False
631     False
632     False
633     False
634     False
635     False
636     False
637     False
638     False
639     False
640     False
641     False
642      True
643     False
644     False
645     False
646     False
647      True
648     False
649     False
650     False
651     False
652     False
653     False
654     False
655     False
656     False
657     False
658     False
659     False
660     False
661     False
662      True
663     False
664     False
665     False
666     False
667     False
668     False
669     False
670     False
671     False
672     False
673     False
674     False
675     False
676     False
677     False
678     False
679     False
680     False
681     False
682     False
683     False
684     False
685     False
686     False
687     False
688     False
689     False
690     False
691     False
692     False
693     False
694     False
695     False
696     False
697     False
698     False
699     False
700     False
701     False
702      True
703     False
704     False
705     False
706     False
707     False
708     False
709     False
710     False
711     False
712     False
713     False
714      True
715     False
716     False
717     False
718      True
719     False
720     False
721     False
722     False
723     False
724     False
725     False
726     False
727     False
728     False
729     False
730     False
731     False
732     False
733     False
734     False
735     False
736     False
737     False
738     False
739     False
740     False
741     False
742     False
743     False
744     False
745     False
746     False
747     False
748     False
749     False
750     False
751     False
752     False
753     False
754     False
755     False
756     False
757     False
758     False
759     False
760     False
761     False
762     False
763     False
764     False
765     False
766     False
767     False
768     False
769     False
770     False
771     False
772     False
773      True
774     False
775     False
776     False
777     False
778     False
779     False
780     False
781     False
782     False
783      True
784     False
785     False
786     False
787     False
788     False
789     False
790     False
791     False
792     False
793     False
794     False
795     False
796     False
797     False
798     False
799     False
800     False
801     False
802      True
803     False
804     False
805     False
806     False
807     False
808     False
809     False
810     False
811     False
812     False
813     False
814     False
815     False
816     False
817     False
818     False
819     False
820     False
821     False
822     False
823     False
824     False
825     False
826     False
827     False
828      True
829     False
830     False
831      True
832     False
833     False
834     False
835     False
836     False
837     False
838     False
839     False
840     False
841     False
842     False
843     False
844     False
845     False
846     False
847     False
848     False
849     False
850     False
851     False
852     False
853     False
854     False
855     False
856     False
857     False
858     False
859     False
860     False
861     False
862     False
863     False
864     False
865      True
866     False
867     False
868     False
869     False
870     False
871     False
872     False
873     False
874     False
875     False
876     False
877     False
878     False
879     False
880      True
881     False
882     False
883     False
884     False
885     False
886     False
887     False
888      True
889     False
890     False
891     False
892     False
893      True
894     False
895     False
896     False
897     False
898     False
899     False
900     False
901     False
902     False
903     False
904     False
905     False
906     False
907      True
908     False
909     False
910     False
911     False
912     False
913     False
914     False
915     False
916     False
917     False
918     False
919     False
920     False
921     False
922     False
923     False
924     False
925      True
926     False
927     False
928     False
929     False
930     False
931     False
932     False
933     False
934     False
935     False
936     False
937     False
938     False
939     False
940     False
941     False
942     False
943      True
944     False
945     False
946     False
947     False
948     False
949     False
950     False
951     False
952     False
953     False
954     False
955      True
956     False
957     False
958     False
959     False
960     False
961      True
962     False
963     False
964     False
965     False
966     False
967     False
968     False
969     False
970     False
971     False
972     False
973     False
974     False
975     False
976     False
977     False
978     False
979      True
980     False
981     False
982     False
983     False
984     False
985     False
986     False
987     False
988     False
989     False
990     False
991     False
992     False
993      True
994     False
995      True
996     False
997     False
998     False
999     False
1000    False
1001    False
1002    False
1003    False
1004    False
1005    False
1006    False
1007    False
1008    False
1009    False
1010     True
1011    False
1012     True
1013    False
1014    False
1015    False
1016    False
1017    False
1018    False
1019    False
1020    False
1021    False
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029    False
1030    False
1031    False
1032    False
1033    False
1034     True
1035    False
1036    False
1037    False
1038    False
1039    False
1040    False
1041     True
1042     True
1043    False
1044    False
1045    False
1046    False
1047    False
1048    False
1049    False
1050    False
1051    False
1052    False
1053    False
1054    False
1055    False
1056    False
1057    False
1058    False
1059    False
1060     True
1061    False
1062    False
1063    False
1064    False
1065    False
1066    False
1067    False
1068    False
1069    False
1070     True
1071    False
1072    False
1073    False
1074    False
1075    False
1076    False
1077     True
1078    False
1079    False
1080    False
1081    False
1082    False
1083    False
1084     True
1085    False
1086    False
1087    False
1088    False
1089    False
1090    False
1091    False
1092    False
1093    False
1094    False
1095    False
1096    False
1097    False
1098    False
1099    False
1100    False
1101    False
1102    False
1103    False
1104    False
1105    False
1106    False
1107    False
1108    False
1109    False
1110    False
1111    False
1112    False
1113    False
1114     True
1115    False
1116    False
1117    False
1118    False
1119    False
1120    False
1121    False
1122    False
1123    False
1124    False
1125    False
1126    False
1127    False
1128    False
1129    False
1130    False
1131    False
1132    False
1133    False
1134    False
1135    False
1136    False
1137    False
1138    False
1139    False
1140    False
1141    False
1142    False
1143    False
1144    False
1145    False
1146    False
1147    False
1148    False
1149    False
1150    False
1151    False
1152    False
1153     True
1154    False
1155    False
1156    False
1157    False
1158    False
1159    False
1160    False
1161    False
1162    False
1163    False
1164    False
1165    False
1166    False
1167    False
1168    False
1169    False
1170    False
1171    False
1172    False
1173    False
1174    False
1175    False
1176    False
1177    False
1178    False
1179    False
1180    False
1181    False
1182    False
1183    False
1184    False
1185    False
1186    False
1187    False
1188    False
1189    False
1190    False
1191    False
1192    False
1193    False
1194    False
1195    False
1196    False
1197    False
1198    False
1199    False
1200    False
1201    False
1202    False
1203    False
1204    False
1205    False
1206    False
1207    False
1208    False
1209    False
1210    False
1211    False
1212    False
1213    False
1214    False
1215    False
1216    False
1217    False
1218    False
1219    False
1220    False
1221    False
1222    False
1223    False
1224    False
1225    False
1226    False
1227    False
1228    False
1229    False
1230    False
1231    False
1232    False
1233     True
1234    False
1235    False
1236    False
1237    False
1238    False
1239    False
1240    False
1241    False
1242    False
1243    False
1244    False
1245    False
1246    False
1247    False
1248    False
1249    False
1250    False
1251    False
1252    False
1253    False
1254    False
1255    False
1256    False
1257    False
1258    False
1259    False
1260    False
1261    False
1262    False
1263    False
1264    False
1265    False
1266    False
1267    False
1268    False
1269    False
1270    False
1271    False
1272    False
1273    False
1274    False
1275    False
1276    False
1277    False
1278    False
1279    False
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305    False
1306    False
1307    False
1308    False
1309    False
1310    False
1311    False
1312    False
1313    False
1314    False
1315    False
1316    False
1317    False
1318    False
1319    False
1320    False
1321    False
1322    False
1323    False
1324    False
1325    False
1326    False
1327    False
1328    False
1329    False
1330    False
1331    False
1332    False
1333    False
1334    False
1335    False
1336    False
1337    False
1338    False
1339    False
1340    False
1341    False
1342    False
1343    False
1344    False
1345    False
1346    False
1347    False
1348    False
1349    False
1350    False
1351    False
1352    False
1353    False
1354    False
1355    False
1356    False
1357    False
1358    False
1359    False
1360    False
1361    False
1362    False
1363    False
1364    False
1365    False
1366    False
1367    False
1368    False
1369    False
1370    False
1371    False
1372    False
1373    False
1374    False
1375    False
1376    False
1377    False
1378    False
1379    False
1380    False
1381    False
1382    False
1383    False
1384    False
1385    False
1386    False
1387    False
1388    False
1389    False
1390    False
1391    False
1392     True
1393    False
1394    False
1395    False
1396    False
1397    False
1398    False
1399    False
1400    False
1401    False
1402    False
1403    False
1404    False
1405    False
1406    False
1407    False
1408    False
1409     True
1410    False
1411    False
1412    False
1413    False
1414    False
1415    False
1416    False
1417    False
1418    False
1419    False
1420    False
1421    False
1422    False
1423    False
1424    False
1425    False
1426    False
1427    False

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              3909 non-null   int64
 1   Job Title          3909 non-null   object
 2   Salary Estimate    3909 non-null   object
 3   Rating             3909 non-null   float64
 4   Company Name       3909 non-null   object
 5   Location           3909 non-null   object
 6   Headquarters       3909 non-null   object
 7   Size               3909 non-null   object
 8   Founded            3909 non-null   int64
 9   Type of ownership  3909 non-null   object
 10  Industry           3909 non-null   object
 11  Sector             3909 non-null   object
 12  Revenue            3909 non-null   object
 13  Competitors        3909 non-null   object
 14  Easy Apply         3909 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(11)
memory usage: 431.5+ KB

In [78]:
#data cleaning
df.replace(['-1'], [np.nan], inplace=True)
df.replace(['-1.0'], [np.nan], inplace=True)
df.replace([-1], [np.nan], inplace=True)

In [79]:
df.isnull().sum()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              3909 non-null   int64
 1   Job Title          3909 non-null   object
 2   Salary Estimate    3909 non-null   object
 3   Rating             3500 non-null   float64
 4   Company Name       3909 non-null   object
 5   Location           3909 non-null   object
 6   Headquarters       3669 non-null   object
 7   Size               3680 non-null   object
 8   Founded            2932 non-null   float64
 9   Type of ownership  3680 non-null   object
 10  Industry           3363 non-null   object
 11  Sector             3363 non-null   object
 12  Revenue            3680 non-null   object
 13  Competitors        1149 non-null   object
 14  Easy Apply         3909 non-null   bool
dtypes: bool(1), float64(2), int64(1), object(11)
memory usage: 431.5+ KB

In [80]:
#seperating salary estimate into min and max salary 
df_salary = df["Salary Estimate"].str.split("-",expand=True)
minimum_salary = df_salary[0]
minimum_salary = minimum_salary.str.replace("K"," ")
maximum_salary = df_salary[1].str.replace('(Glassdoor est.)', ' ')
maximum_salary = maximum_salary.str.replace('(', ' ')
maximum_salary = maximum_salary.str.replace(')', ' ')
maximum_salary = maximum_salary.str.replace('K', ' ')
maximum_salary = maximum_salary.str.replace('Employer est.', ' ')
maximum_salary = maximum_salary.str.replace('Per Hour', ' ')

maximum_salary = maximum_salary.str.replace('$', ' ').fillna(0).astype(int)
minimum_salary = minimum_salary.str.replace('$', ' ').fillna(0).astype(int)

/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/4083596630.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  maximum_salary = df_salary[1].str.replace('(Glassdoor est.)', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/4083596630.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  maximum_salary = maximum_salary.str.replace('(', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/4083596630.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  maximum_salary = maximum_salary.str.replace(')', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/4083596630.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  maximum_salary = maximum_salary.str.replace('Employer est.', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/4083596630.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  maximum_salary = maximum_salary.str.replace('$', ' ').fillna(0).astype(int)
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/4083596630.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  minimum_salary = minimum_salary.str.replace('$', ' ').fillna(0).astype(int)

In [81]:
df['Minimum Salary'] = minimum_salary
df['Maximum Salary'] = maximum_salary

df.drop('Salary Estimate',axis = 1,inplace = True)
df['Company Name'] = df['Company Name'].str.replace('\n.*', ' ')
df['Est_Salary']= (df['Minimum Salary']+df['Maximum Salary'])/2

/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/2733306494.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Company Name'] = df['Company Name'].str.replace('\n.*', ' ')

In [82]:
#seperating location and HQ

Location = df["Location"].str.split(",",expand=True)
Location_city = Location[0]
Location_state = Location[1]
df["Location City"] = Location_city
df["Location State"] = Location_state
df.drop("Location",axis = 1, inplace=True)

HQ = df["Headquarters"].str.split(",",expand=True)
HQ_city = HQ[0]
HQ_state = HQ[1]
df["HQ City"] = HQ_city
df["HQ State"] = HQ_state
df.drop("Headquarters",axis = 1, inplace=True)

In [83]:
#seperating job tilte from department

department = df["Job Title"].str.split(",", expand=True)
df["Job Title"], df["Department"] = department[0], department[1]
df.drop("Department",axis=1,inplace=True)

In [84]:
df["Job Title"] = df["Job Title"].str.replace(" â","")

In [85]:
df["Revenue"] = df["Revenue"].replace("Unknown / Non-Applicable",np.nan)

In [86]:
df['Revenue'] = df['Revenue'].str.replace('$', ' ')
df['Revenue'] = df['Revenue'].str.replace('(USD)', ' ')
df['Revenue'] = df['Revenue'].str.replace('(', ' ')
df['Revenue'] = df['Revenue'].str.replace(')', ' ')
df['Revenue'] = df['Revenue'].str.replace(' ', '')
df['Revenue'] = df['Revenue'].str.replace('+', '')

/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/2912657363.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Revenue'] = df['Revenue'].str.replace('$', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/2912657363.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Revenue'] = df['Revenue'].str.replace('(USD)', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/2912657363.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Revenue'] = df['Revenue'].str.replace('(', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/2912657363.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Revenue'] = df['Revenue'].str.replace(')', ' ')
/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/2912657363.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Revenue'] = df['Revenue'].str.replace('+', '')

In [87]:
df['Revenue'] = df['Revenue'].str.replace('2to5billion', '2billionto5billion')
df['Revenue'] = df['Revenue'].str.replace('5to10billion ', '5billionto10billion')

In [88]:
df['Revenue'] = df['Revenue'].replace('million', ' ')
df['Revenue'] = df['Revenue'].replace('10billion', '10billionto11billion')
df['Revenue'] = df['Revenue'].str.replace('Lessthan1million', '0millionto1million')
df['Revenue'] = df['Revenue'].str.replace('million', ' ')
df['Revenue'] = df['Revenue'].str.replace('billion', '000 ')

In [89]:
df["Revenue"] = df["Revenue"].str.replace(" to","to")

In [90]:
revenue = df["Revenue"].str.split("to",expand=True)

In [91]:
df["max revenue (milions)"] = revenue[1]
df["min revenue (milions)"] = revenue[0]

In [92]:
df.drop("Revenue",axis=1,inplace=True)

In [93]:
df["HQ State"] = df["HQ State"].str.replace("Sweden","SWE")
df["HQ State"] = df["HQ State"].str.replace("Belgium","BE")
df["HQ State"] = df["HQ State"].str.replace("Iran","IR")
df["HQ State"] = df["HQ State"].str.replace("United Kingdom","UK")

In [94]:
df["Founded"] = df["Founded"].astype("Int32")

1999    110
2002    100
2004     91
2015     90
1994     84
       ...
1792      1
1851      1
1806      1
1843      1
1866      1
Name: Founded, Length: 172, dtype: Int64

In [95]:
df["Job Title"] = df["Job Title"].str.replace("/","|")

In [96]:
df["Company Name"] = df["Company Name"].astype(str)

In [97]:
for i in df.index:
    df.loc[i,"index"] = i

In [98]:
df["Type of ownership"] = df["Type of ownership"].str.replace("/","|")

In [99]:
df["Size"] = df["Size"].str.replace("employees","")
df["Size"] = df["Size"].str.replace("+","")
df["Size"] = df["Size"].str.replace(" ","")

/var/folders/4q/b59kyw8x60392hk2b9nn2fqm0000gn/T/ipykernel_11216/350990652.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Size"] = df["Size"].str.replace("+","")

In [100]:
size = df["Size"].str.split("to",expand=True)
df["min_size_employees"], df["max_size_employees"] = size[0], size[1]

In [101]:
df.drop("Size",axis=1,inplace=True)

In [102]:
print(df.to_string())

      index                                                                                                               Job Title  Rating                                           Company Name  Founded               Type of ownership                                  Industry                              Sector                                                                                   Competitors  Easy Apply  Minimum Salary  Maximum Salary  Est_Salary                   Location City   Location State                   HQ City      HQ State max revenue (milions) min revenue (milions) min_size_employees max_size_employees
0         0                                                                                                   Senior Data Scientist     3.5                                                Hopper      2007               Company - Private                           Travel Agencies                    Travel & Tourism                                                                                           NaN       False             111             181       146.0                        New York               NY                  Montreal        Canada                   NaN                   NaN                501               1000
1         1                                                                                                          Data Scientist     4.5                                               Noom US      2008               Company - Private                 Health, Beauty, & Fitness                   Consumer Services                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN               1001               5000
2         2                                                                                                    Data Science Manager     NaN                                               Decode_M     <NA>                         Unknown                                       NaN                                 NaN                                                                                           NaN        True             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                  1                 50
3         3                                                                                                            Data Analyst     3.4                                      Sapphire Digital      2019               Company - Private                                  Internet              Information Technology                                                                          Zocdoc, Healthgrades       False             111             181       146.0                       Lyndhurst               NJ                 Lyndhurst            NJ                   NaN                   NaN                201                500
4         4                                                                                                                Director     3.4                            United Entertainment Group      2007               Company - Private                   Advertising & Marketing                   Business Services                                                                      BBDO, Grey Group, Droga5       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                 51                200
5         5                                                                                                          Data Scientist     2.9                                         IFG Companies      1985               Company - Private                        Insurance Carriers                           Insurance                                                                 Colony Specialty, Markel, RLI       False             111             181       146.0                        New York               NY                  Hartford            CT                   NaN                   NaN                201                500
6         6                                                                                                 Quantitative Researcher     4.4                                          PDT Partners      1993               Company - Private     Investment Banking & Asset Management                             Finance                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                 51                200
7         7                                                                                         Quantitative Research Associate     NaN                                 Enlightenment Research     <NA>                         Unknown                                       NaN                                 NaN                                                                                           NaN        True             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                  1                 50
8         8                                                                                                            AI Scientist     5.0                                                 Paige      2018               Company - Private   Enterprise Software & Network Solutions              Information Technology                                                                                           NaN        True             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                  1                 50
9         9                                                                                                 Quantitative Researcher     4.8                                           Jane Street      2000               Company - Private     Investment Banking & Asset Management                             Finance                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                501               1000
10       10                                                                                                          Data Scientist     3.9                                        Quartet Health      2014               Company - Private   Enterprise Software & Network Solutions              Information Technology                                                                                           NaN        True             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                201                500
11       11                                                                                         Data Scientist|Machine Learning     4.4                                            PulsePoint      2011               Company - Private                                  Internet              Information Technology                                              Crossix Solutions Inc., AppNexus, The Trade Desk       False             111             181       146.0                        New York               NY                  New York            NY                  500                    100                 51                200
12       12                                                                                                          Data Scientist     4.3                                    Medidata Solutions      1999                Company - Public   Enterprise Software & Network Solutions              Information Technology                                                                                        Oracle       False             111             181       146.0                        New York               NY                  New York            NY                 1000                    500               1001               5000
13       13                                                                                                          Data Scientist     3.9                                               Point72      2014               Company - Private     Investment Banking & Asset Management                             Finance                                                                                           NaN       False             111             181       146.0                        New York               NY                  Stamford            CT                   NaN                   NaN               1001               5000
14       14                                                                                         Data Scientist - Alpha Insights     4.4                                             Two Sigma      2001               Company - Private     Investment Banking & Asset Management                             Finance                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN               1001               5000
15       15                                                                                                          Data Scientist     3.0                                    Affinity Solutions      1998               Company - Private                   Advertising & Marketing                   Business Services                                                          Commerce Signals, Cardlytics, Yodlee        True             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                 51                200
16       16                                                                                                          Data Scientist     3.6                                                  Etsy      2005                Company - Public                       Other Retail Stores                              Retail                                                             Airbnb, Warby Parker, Kickstarter       False             111             181       146.0                        Brooklyn               NY                  Brooklyn            NY                  500                    100                501               1000
17       17                                                                                              Data Scientist|ML Engineer     3.3                                         PA Consulting      1943               Company - Private                                Consulting                   Business Services                                                       McKinsey & Company, Accenture, Deloitte       False             111             181       146.0                        New York               NY                    London            UK                  500                    100               1001               5000
18       18                                                                                                          Data Scientist     3.6                                                  Etsy      2005                Company - Public                       Other Retail Stores                              Retail                                                             Airbnb, Warby Parker, Kickstarter       False             111             181       146.0                        New York               NY                  Brooklyn            NY                  500                    100                501               1000
19       19                                                                                                                      VP     3.9                                            7Park Data      2012               Company - Private                    Research & Development                   Business Services                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                 51                200
20       20                                                                                                          Data Scientist     4.0                                       Walt Disney Co.      1923                Company - Public  Motion Picture Production & Distribution                               Media                                                          News Corp, WarnerMedia, NBCUniversal       False             111             181       146.0                        New York               NY                   Burbank            CA                11000                  10000              10000               None
21       21                                                                                                   Senior Data Scientist     3.4                                           Squarespace      2003               Company - Private                                  Internet              Information Technology                                                                                       GoDaddy       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN               1001               5000
22       22                                                                                   Quantitative Researcher – Intern (US)     4.1                                    Citadel Securities      2002               Company - Private                        Brokerage Services                             Finance                                                                               Virtu Financial       False             111             181       146.0                        New York               NY                   Chicago            IL                   NaN                   NaN                201                500
23       23                                                            Senior Data Engineer (Healthcare Domain experience required)     3.4                                Enterprise Integration      1998               Company - Private                               IT Services              Information Technology                                                                                           NaN       False             111             181       146.0                        New York               NY              Jacksonville            FL                   50                     25                 51                200
24       24                                                                                                          Data Scientist     4.4                                                WITHIN      2015               Company - Private                   Advertising & Marketing                   Business Services                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   NaN                   NaN                 51                200
25       25                                                                                                          Data Scientist     3.8                                               Spotify      2006                Company - Public                                  Internet              Information Technology                                                                                           NaN       False             111             181       146.0                        New York               NY                 Stockholm           SWE                   NaN                   NaN               1001               5000
26       26                                                                                                          Data Scientist     4.1                                               Datadog      2010                Company - Public              Computer Hardware & Software              Information Technology                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                  500                    100               1001               5000
27       27                                                                                                     Lead Data Scientist     3.3                                                 Aetna      1853                Company - Public                        Insurance Carriers                           Insurance                                                                                           NaN       False             111             181       146.0                        New York               NY                  Hartford            CT                11000                  10000              10000               None
28       28                                                                                                          Data Scientist     5.0                                            Hungryroot      2015               Company - Private                 Health, Beauty, & Fitness                   Consumer Services                                                                                           NaN       False             111             181       146.0                        New York               NY                  New York            NY                   50                     25                  1                 50
29       29                                                                                                Principal Data Scientist     3.3                                                 Aetna      1853                Company - Public                        Insurance Carriers                           Insurance                                                                                           NaN       False             111             181       146.0                        New York               NY                  Hartford            CT                11000                  10000              10000               None